/* General Styles */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #007BFF;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FCFCFD;
    margin: 0;
    padding: 0;
}

.categories-container {
    width: 1440px;
    height: 960px;
    background: white;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
}

.sidebar {
    width: 280px;
    background: white;
    border-right: 1px solid #EAECF0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-content {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.logo-container {
    padding-left: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo {
    width: 33px;
    height: 32px;
    background: linear-gradient(1deg, #0058D4 0%, #00245B 100%);
}

.logo-text {
    color: #00214F;
    font-size: 28px;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 700;
}

.menu {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.menu-item {
    padding: 16px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #344054;
}

.menu-item.active {
    background: linear-gradient(90deg, #0179FE 0%, #4893FF 100%);
    color: white;
}

.content {
    flex: 1;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header {
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-title {
    font-size: 30px;
    font-weight: 600;
    color: #101828;
}

.header-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #475467;
}

.header-date {
    font-size: 30px;
    font-weight: 600;
    color: #101828;
}

.filter-by-date {
    display: flex;
    align-items: center;
    gap: 8px;
    background: white;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 10px 16px;
}

.filter-checkbox {
    width: 20px;
    height: 20px;
    border: 1.67px solid #344054;
}

.filter-text {
    font-size: 14px;
    font-weight: 600;
    color: #344054;
}

/* Category Cards */
.category-summary {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-title {
    font-size: 18px;
    font-weight: 600;
    color: #101828;
}

.category-cards {
    display: flex;
    gap: 40px;
}

.category-card {
    width: 302px;
    height: 200px;
    background: linear-gradient(90deg, #0179FE 0%, #4893FF 100%);
    border-radius: 19.11px;
    border: 0.96px solid white;
    box-shadow: 7.65px 9.56px 15.29px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
}

.card-background {
    width: 624.80px;
    height: 209.30px;
    position: absolute;
    top: 38.65px;
    left: -139.53px;
    opacity: 0.20;
    border: 0.96px solid white;
}

.card-details {
    padding: 16px;
    position: relative;
    z-index: 1;
}

.card-title {
    font-size: 15.29px;
    font-weight: 600;
    color: white;
}

.card-icons {
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

.card-labels {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.label {
    font-size: 14px;
    font-weight: 500;
    color: #344054;
}

/* Spending Summary */
.spending-summary {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.spending-label {
    font-size: 14px;
    font-weight: 500;
    color: #344054;
}

.spending-amount {
    font-size: 14px;
    font-weight: 400;
    color: #475467;
}

.spending-bar {
    width: 302px;
    height: 8px;
    border-radius: 8px;
    position: relative;
}

.spending-bar-bg {
    width: 100%;
    height: 100%;
    background: #EAECF0;
    border-radius: 4px;
    position: absolute;
}

.spending-bar-fill {
    width: 173.65px;
    height: 100%;
    background: linear-gradient(90deg, #0179FE 0%, #4893FF 100%);
    border-radius: 4px;
    position: absolute;
}

/* Estilos para el componente de filtrado por fecha */
.date-filter-component {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px; /* Añade un pequeño margen inferior */
}

.date-inputs {
    display: flex;
    gap: 20px;
}

.date-inputs div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-inputs label {
    color: #344054;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.date-inputs input[type="date"] {
    padding: 10px;
    color: #344054;
    font-size: 16px;
    border: 1px #EAECF0 solid;
    border-radius: 8px;
    cursor: pointer;
}

.filter-button {
    padding: 10px 16px;
    background: #0179FE;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.icon-wrapper {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center;
    gap: 8px; /* Espacio entre el icono y el texto */
}

.icon-button {
    background-color: white; /* Fondo del ícono, ajusta según sea necesario */
    border: none;
    border-radius: 50%;
    width: 50px; /* Ajusta el tamaño según tu necesidad */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-label {
    font-size: 14px;
    font-weight: 500;
    color: white; /* Color del texto debajo de cada icono */
}



